.clangd/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
benchmark/CMakeFiles/
benchmark/Makefile
benchmark/cmake_install.cmake
cmake_install.cmake
compile_commands.json
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
/build/
vendor/**/*
Testing/Temporary
lib/
